@charset "UTF-8";
/* CSS Document */
@media (max-width: 1240px) {

.container {
	width:960px;
}

.left_menu {
	width:445px;
}

.right_menu {
	width:445px;
}

#logo {
	width:70px;
	margin-left:0px;
}

ul#menu {
    padding-top:63px;
}

ul#menu li {
	margin-left:38px;
}

ul#menu li a {
	font-size:11px;
}

ul#menu2 {
    margin:0px; padding:0px;
    padding-top:19px;
	float:right;
}

ul#menu2 li {
	margin-right:38px;
}

ul#menu2 li a {
	font-size:11px;
}

ul#menu1 li {
	margin-left:38px;
}

ul#menu1 li a {
	font-size:11px;
}

ul#menu3 li {
    display:inline;
	margin-right:38px;
}

ul#menu3 li a {
	font-size:11px;
}

#logo_small {
	margin-left:0px;
}

.slides_btn {
	width:340px;
	height:60px;
	top:610px;
	opacity:0.9;

}
.slide_el {
	width: 500px;
}
.slide_el1 {
	width: 500px;
}
.slide_el2 {
	width: 500px;
}

.community_left {
	width:100%;
	float:none;
	margin-left:auto;
	margin-right:auto;
}

.community_icon {
	margin-left:auto;
	margin-right:auto;
}

.community_text {
	width:100%;
	
	padding-left:20px;
	padding-top:10px;
}

.community_right {
	width:850px;
	float:none;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#content2 {
	padding: 50px 0 50px 0;
} 

.movement {
	width:350px;
	float:none;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
}

.video {
	width:540px;
	float:left;
}

.video_text {
	width:250px;
	float:left;
	font-size:24px;
	text-align:left;
	padding-top:120px;
}

.video_text_btn {
	width:162px;
	height:35px;
	background-image:url(img/btn-yellow-w160@2x.png);
    background-repeat:no-repeat;
	background-size:100%;
	margin-top:20px;
	text-transform:uppercase;
	font-style:italic;
	font-size:16px;
	padding-top:15px;
	padding-left:28px;
}

.video_text p {line-height:35px;}

.desk_container {
	width:960px;
}

.desk {
	width:170px;
	float:left;
	padding:0 5px;
	font-size:14px;
}

.desk_plus {
	width:170px;
	float:left;
	padding:0 5px;
	margin-left:15px;
	font-size:14px;
}

.desk_unlimited {
	width:170px;
	float:left;
	padding:0 5px;
	margin-left:15px;
	font-size:14px;
}

.desk_dedicated {
	width:170px;
	float:left;
	padding:0 5px;
	margin-left:15px;
	font-size:14px;
}

.desk_studios {
	width:170px;
	float:left;
	padding:0 5px;
	margin-left:15px;
	font-size:14px;
}

.desk_text{
	padding: 10px 10px 0 10px;
    height: 200px;
}

.desk_img {
	width:170px;
}

.desk_btn {
	width:160px;
	font-size:14px;
	padding-top:13px;
}
.desk_btn:hover {
	width:160px;
	font-size:14px;
	padding-top:13px;
}


.meet_left {
	width:825px;
	float:none;
	margin-left:auto;
	margin-right:auto;
}

.meet_dotted {
	width:100%;
	background-image:url(img/dotted-linebg-h3.png);
    background-repeat:repeat-x;
	float:none;
	height:3px;
	margin-top:30px;
}

.testimonial_title {margin-left:auto; margin-right:auto;}

.meet_right {
	width:100%;
	float:none;
	margin-left:auto;
	margin-right:auto;
}

.meet_img {
	width:100%;
}

#testi .flex-direction-nav a {
    margin: -17px 270px 0 270px;
}

.flex-control-paging li a {
	bottom:100px;
	left:330px;
}

}

@media (max-width: 960px) {

.container {
	width:720px;
}

#header {
	display:none;
}

#header1 {
	display:block;
}

#logo {
    margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	float:none;
}

.left_menu {
	display:none;
}

.right_menu {
	display:none;
}

.community_text {
	padding-left:0px;
}

.community_right {
	width:720px;
	float:none;
}

.freelance, .freelance .hover {
	width:144px;
}


.starting, .starting .hover {
	width:144px;
}

.smallbusiness, .smallbusiness .hover {
	width:144px;
}

.nonprofit, .nonprofit .hover {
	width:144px;
	
}

.bigbusiness, .bigbusiness .hover {
	width:144px;
}

.img_title {
    top: 470px;
}

.movement {
	width:350px;
	float:none;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
}

.video {
	width:500px;
	float:left;
}

.video_text {
	width:220px;
	float:left;
	font-size:22px;
	text-align:left;
	padding-top:120px;
}

.video_text p {line-height:30px;}

.desk_container {
	width:720px;
}

.desk {
	width:170px;
	height:520px;
	float:left;
	padding:0 5px;
	font-size:14px;
	margin-left:75px;
}

.desk_plus {
	width:170px;
	height:520px;
	float:left;
	padding:0 5px;
	margin-left:15px;
	font-size:14px;
}

.desk_unlimited {
	width:170px;
	height:520px;
	float:left;
	padding:0 5px;
	margin-left:15px;
	font-size:14px;
}

.desk_dedicated {
	width:170px;
	height:520px;
	float:left;
	padding:0 5px;
	margin-left:15px;
	margin-top:15px;
	font-size:14px;
	margin-left:172px;
}

.desk_studios {
	width:170px;
	height:520px;
	float:left;
	padding:0 5px;
	margin-left:15px;
	font-size:14px;
	margin-top:15px;
}

.desk_bottom {
	margin-top:0px;
}

.meet_left {
	width:100%;
	float:none;
}

.meet_dotted {
	width:100%;
}

.meet_right {
	width:100%;
	float:none;
	margin-left:auto;
	margin-right:auto;
}

.meet_img {
	width:100%;
}

#testi .flex-direction-nav a {
    margin: -17px 195px 0 195px;
}

.flex-control-paging li a {
	bottom:100px;
	left:330px;
}

}


@media screen and (max-width: 720px) {

.container {width: 480px;}

.flex-control-paging li a {
	bottom:100px;
	left:20px;
}

.slide_el {
	width: 320px;
	height: auto;
}
.slide_el4 {
	position: absolute; 
	display: inline-block;
	top: 43%; 
	left: 64%;
	width: 160px;
	height: 80px;
}
.slide_el4 a {
	background:url(img/btn-chair-booknow@2x.png) no-repeat 50% 50% / 140px 70px ; 
	width: 140px;
	height: 70px;
}

.community_right {
	width:480px;
	float:none;
}

.freelance, .freelance .hover {
	width:160px;
	height:540px;
}


.starting, .starting .hover {
	width:160px;
	height:540px;
}

.smallbusiness, .smallbusiness .hover {
	width:160px;
	height:540px;
}

.nonprofit{
	width:160px;
	height:540px;
	margin-left:80px;
}
.nonprofit .hover {
	width:160px;
	height:540px;
	margin-left:0;
}

.bigbusiness, .bigbusiness .hover {
	width:160px;
	height:540px;
}

.img_title {
    top: 500px;
}

.movement {
	width:320px;
}

.whats_right {width:320px; }

.video {
	width:480px;
	float:none;
}

.video_text {
	width:480px;
	float:none;
	font-size:22px;
	text-align:left;
	padding-top:0px;
}

.video_text_btn {
	margin-left:auto;
	margin-right:auto;
}

.video_text p {line-height:30px;}

.desk_container {
	width:320px;
	margin-left:auto;
	margin-right:auto;
}

.desk {
	width:145px;
	height:490px;
	float:left;
	padding:0 5px;
	font-size:14px;
	margin-left:0px;
}

.desk_plus {
	width:145px;
	height:490px;
	float:left;
	padding:0 5px;
	margin-left:10px;
	font-size:14px;
}

.desk_unlimited {
	width:145px;
	height:490px;
	float:left;
	padding:0 5px;
	margin-left:0px;
	margin-top:10px;
	font-size:14px;
}

.desk_dedicated {
	width:145px;
	height:490px;
	float:left;
	padding:0 5px;
	margin-left:10px;
	margin-top:10px;
	font-size:14px;
}

.desk_studios {
	width:145px;
	height:490px;
	float:left;
	padding:0 5px;
	font-size:14px;
	margin-top:10px;
	margin-left:82.5px;
}

.desk_text{
	padding: 10px 5px 0 5px;
    height: 200px;
}

.desk_img {
	width:155px;
}

.desk_btn {
	width:140px;
	font-size:13px;
	padding-top:11px;
}
.desk_btn:hover {
	width:140px;
	font-size:13px;
	padding-top:11px;
}

.testimonial_title {width:250px;}

#testi .flex-direction-nav a {
    margin: -17px 80px 0 80px;
}

.get_in_touch {
	width:480px;
	height:120px;
}

}



@media screen and (min-device-width : 300px) and (max-width: 480px) {
 

.container {width:95%;}

.community_right {
	width:320px;
	float:none;
}

.freelance {
	width:160px;
	height:480px;
}


.starting {
	width:160px;
	height:480px;
}

.smallbusiness {
	width:160px;
	height:480px;
}

.nonprofit {
	width:160px;
	height:480px;
	margin-left:0px;
}

.bigbusiness {
	width:160px;
	height:480px;

}

.img_title {
    top: 440px;
}

.whats_right {width:320px; }

.video {
	width:320px;
	margin-left:auto;
	margin-right:auto;
}

.video_text {
	width:100%;
	float:none;
	font-size:18px;
	text-align:center;
	padding-top:0px;
}

.video_text_btn {
	padding-left:20px;
	padding-right:20px;
}

.video_text p {line-height:25px;}

#testi .flex-direction-nav a {
    margin: -17px 30px 0 30px;
}

.contact_text {
	width:100%;

}

.get_in_touch {
	width:320px;
	height:80px;
}

.copyright {
	width:150px;
}


.social_footer {
	width:150px;
}

}
